* {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    color: lime;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    color: lime;
    text-align: center;
    margin-bottom: 15px;
} 

body {
    text-align: center;
    padding-top: 20px;
}

button {
    background-color: lime;
    color: lightblue;
    display: inline-block;
    margin: 0 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}